<div class="modal-header">
  <h4 class="modal-title">Search {{searchType}}</h4>
  <button type="button" class="close" aria-label="Close"
   (click)="activeModal.dismiss('Cross click')"><span aria-hidden="true">&times;</span>
  </button>
</div>
<form  (ngSubmit)="submitForm()">
<div class="modal-body" style="height: 400px;   
overflow-y : scroll;">
  <input type="text" class="form-control" id="txtSearchTarget" name="txtSearchTarget" [(ngModel)]="txtSearchTarget" placeholder="search...">
        <div id=divAllTask *ngIf="searchType == 'ParentTaskData'">
            <table id=tdAllTask  class="table table-bordered" >
              <thead>
                <tr>
                  <th>Select</th>
                  <th>Parent Task</th>
                  <th>ID</th>
                </tr>
              </thead>
              <tbody>
                 <tr *ngFor = "let eachTask of allTask | SearchpipePipe : txtSearchTarget :  'ParentTaskData'">                                  
                  <td>
                    <input class="col-sm-4  form-check-input"  type="radio" name="radioTask" id="radioTask1" (change)="SelectData($event, eachTask)">
                  </td>
                  <td><label class="col-sm-4 col-form-label" > {{eachTask.PARENT_TASK}}</label> </td>
                  <td><label class="col-sm-4 col-form-label" > {{eachTask.PARENT_ID}}</label> </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div id=divAllProject *ngIf="searchType == 'ProjectData'">
            <table id=tdAllProject class="table table-bordered">     
                <thead>          
                <tr>
                  <th>Select</th>
                  <th>Project</th>
                  <th>ID</th>
                </tr>    
              </thead>        
              <tbody>                 
                  <tr *ngFor = "let eachProject of allProject | SearchpipePipe : txtSearchTarget : 'ProjectData'">
                  <td>
                     <input class="col-sm-4 form-check-input"  type="radio" name="radioProject" id="radioProject1" (change)="SelectData($event, eachProject)">
                  </td>
                  <td><label class="col-sm-4 col-form-label" > {{eachProject.PROJECT}}</label> </td>
                  <td><label class="col-sm-4 col-form-label" > {{eachProject.PROJECT_ID}}</label> </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div id=divAllUser *ngIf="searchType == 'UserData'">
            <table id=tdAllUser class="table table-bordered">
              <thead>
                <tr>
                  <th>Select</th>
                  <th>User</th>
                  <th>ID</th>
                </tr>
              </thead>
              <tbody>
               <tr *ngFor = "let eachUser of allUser | SearchpipePipe : txtSearchTarget : 'UserData'">                    
                  <td>
                    <input class="col-sm-4 form-check-input"  type="radio" name="radioUser" id="radioUser1" (change)="SelectData($event, eachUser)">
                  </td>
                  <td><label class="col-sm-2 col-form-label" > {{eachUser.FIRST_NAME}}  </label> 
                    <label class="col-sm-2 col-form-label" >  {{eachUser.LAST_NAME}}</label>
                  </td>
                  <td><label class="col-sm-4 col-form-label" > {{eachUser.EMPLOYEE_ID}}</label> </td>
                </tr>
              </tbody>
            </table>
        </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success">
      Select
    </button>
</div>
</form>
