  <div class="row">
    <div class="col-sm-12">
      <div class="content"> &nbsp; </div>
    </div>
  </div>
<div item-width="100%">
  <strong class="text-info text-green">  View Task Details </strong>  
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="content"> &nbsp; </div>
  </div>
</div>
<form  [formGroup]="frmViewTaskGroup">
<div class="form-group row">
<label class="col-sm-1 col-form-label"> Project</label>
                <div class="col-sm-3">
                  <input type="text" id="txtProject" [disabled]="true" class="form-control" name="txtProject"   [(ngModel)]="selectedProjectName" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-sm-1">
                    <button id="btnSearchProject" class="btn btn-info" (click)="searchProjectData()">Search</button>
                </div>
                <label class="col-sm-1 col-form-label"> Sort Task By :</label>
<div class="col-sm-1">
  <button id="btnStartDate" class="btn btn-success" (click)="sort('START_DATE')">Start&nbsp;Date</button>
  </div>&nbsp;
  <div class="col-sm-1"><button id="btnEndDate" class="btn btn-success" (click)="sort('END_DATE')">End&nbsp;Date</button> </div>
  
  <div class="col-sm-1"> <button id="btnPriority" class="btn btn-success" (click)="sort('PRIORITY')">Priority</button> </div>
  
  <div class="col-sm-1">   <button id="btnStatus" class="btn btn-success" (click)="sort('STATUS')">Status</button> </div>
</div>
</form>


          <div class="form-group row">
           
           <table id=tdAllTasks class="table">
                                        
                    <tbody *ngFor="let eachTask of taskCollection | SearchpipePipe : txtSearchUser : 'ProjectData'  | SortingpipeComponent:sortingName:isDesc">  
                      
                        
                          
                              <tr>
                                <th>Task</th>
                                <th>Parent Task</th>
                                <th>Priority</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <!-- <th colspan="3"></th>                   -->
                              </tr>
                             
                               
                           
                                     
                        
                  <tr>                                            
                    <td>   <div class = "jumbotron"> {{eachTask.TASK}} </div></td>
                    <td> <div  class = "jumbotron"> {{eachTask.PARENTNAME}} </div></td>
                    <td> <div  class = "jumbotron">{{eachTask.PRIORITY}} </div></td>
                    <td><div  class = "jumbotron">{{eachTask.START_DATE}}</div> </td>
                    <td> <div  class = "jumbotron"> {{eachTask.END_DATE}}</div> </td>     
                    <td>   <input type="button" id="btnEditText"   [disabled]="eachTask.STATUS"    class="btn btn-primary"  value="Edit" [routerLink]="['../AddTask',eachTask.TASK_ID]" > </td>            
                   
                    <td> <input type="button" id="btnFinishText"   [disabled]="eachTask.STATUS"   class="btn btn-warning" value="End Task"   (click) ="EndTask(eachTask)" > </td>                    
                   
                </tr>
                </tbody>
               
            </table>
              
</div>

 