<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="container">
  <div style="text-align:center">
    <h1>
      <!-- Welcome to {{ Project Manager }}! -->
      Welcome to Project Manager
    </h1> 
  </div>
  <div item-width="100%">
    <h3>Project Manager</h3>
  </div>
  <div class="row align-items-start">
  <div item-width="100%">
      <nav class="navbar navbar-expand-sm bg-light navbar-green fixed"> 
      <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="AddProject">  <h5> <p><u> Add Project</u>  </p> </h5> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="AddTask"> <h5> <p> <u>  Add Task</u> </p> </h5> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="AddUser"> <h5> <p> <u>  Add User</u> </p> </h5> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="ViewTask"> <h5> <p> <u>  View Task</u> </p> </h5> </a>
          </li>
        </ul> 
      </nav>
    </div>  
    <div class="row">
      <div class="col-sm-12">
        <div class="content">&nbsp; </div>
      </div>
    </div>
  
  </div>
  <router-outlet></router-outlet> 
  </div>
  