<div class="row">
    <div class="col-sm-12">
      <div class="content"> &nbsp; </div>
    </div>
  </div>
  <div item-width="100%">
   <strong class="text-info text-green"> Add User Details </strong>  
  </div>
  <div class="row">
  <div class="col-sm-12">
    <div class="content"> &nbsp; </div>
  </div>
  </div>
  <div class="col">
      <form  [formGroup]="frmUserGroup" (ngSubmit)="AddUserDetails()">
        <div class="form-group row">
             <label class="col-sm-2 col-form-label"> First Name</label>
             <div class="col-sm-8">
                <input type="text" class="form-control" formControlName ="FIRST_NAME">
              </div>
            </div>
       
        
        <div class="form-group row" id="rowPriority">
            <label class="col-sm-2 col-form-label"> Last Name</label>
          <div class="col-sm-8">
              <input type="text" class="form-control" formControlName ="LAST_NAME">
          </div>
        </div>
        
          <div class="form-group row" id="rowUser">
              <label class="col-sm-2 col-form-label">Employee ID</label>
            <div class="col-sm-8">
              <input type="text"  class="form-control"  formControlName ="EMPLOYEE_ID">
            </div>
          </div>
          <div class="form-group row justify-content-end">                
                <div class="col-sm-2">
                    <button id="btnSubmit" type="Submit"  class="btn btn-primary" > Add User</button>
                </div>
                    <button id="btnReset" type="button" (click)="ResetUserDetails()"  class="btn btn-warning"> Reset</button>
                    <div class="col-sm-3"></div>
          </div>
        </form>
</div> 
<div class="col-sm-10">
     
         
            <div class="col-sm-12">
                <div class="form-group row">
                  <div class="col-sm-4">
                <input type="text" class="form-control" id="txtSearchUser"  name="txtSearchUser" [(ngModel)]="txtSearchUser" [ngModelOptions]="{standalone: true}"  placeholder="search...">            
                  </div>
                  <div class="col-sm-2">
                <label> Sort By :</label>
                <!-- <div class="col-sm-9"> -->
                  </div>
                  <div class="col-sm-2">
                  <button id="btnStartDate"  class="btn btn-success" (click)="sort('FIRST_NAME')">First Name</button>
                </div>
                  <div class="col-sm-2">
                  <button id="btnEndDate"  class="btn btn-success" (click)="sort('LAST_NAME')">Last Name</button>
                </div>
                  <div class="col-sm-2">
                  <button id="btnPriority"  class="btn btn-success" (click)="sort('EMPLOYEE_ID')">Employee ID</button>
                </div>
                 
                </div>   
             
            </div>
      
       <div class="form-group row">
         <div class="col-sm-12">           
              <ul class="list-group" *ngFor= "let user of userCollection | SearchpipePipe : txtSearchUser : 'UserData'  | SortingpipeComponent:sortingName:isDesc">
              <li class="list-group-item list-group-item-action">
                  <div class="form-group row">
                    <div class="col-sm-8 jumbotron container">
                        <div class="form-group row">
                            <div class="col-sm-6"> 
                              <label class="col-form-label"> First Name : {{user.FIRST_NAME}} </label>
                            </div>
                            <div class="col-sm-6"></div>
                          </div>
                          <div class="form-group row">
                              <div class="col-sm-6"> 
                                  <label class="col-form-label">  Last Name : {{user.LAST_NAME}} </label>
                                </div>
                                <div class="col-sm-6"></div>
                          </div>
                            <div class="form-group row">
                                <div class="col-sm-6"> 
                                    <label class="col-form-label">  Employee ID : {{user.EMPLOYEE_ID}} </label>
                                  </div>
                                  <div class="col-sm-6"></div>
                              </div>
                    </div>
                    <div class="col-sm-2 jumbotron container">
                        <button id="btnEdit"  class="form-group row btn btn-primary" (click)="AssignUserDetails(user)">Edit User</button>
                        <button id="btnDelete" class="form-group row btn btn-danger" (click)="DeleteUserDetails(user.USER_ID)">Delete</button>
                    </div>
                  </div>
              </li>
           </ul>
         </div>
       </div>
   
    <div class="form-group row"  >
      <div class="col-sm-4">
          <p class="text-success"> <strong> {{showMsg}} </strong> </p>
      </div>
     
      </div>
  </div>
 

