<div class="row">
  <div class="col-sm-12">
    <div class="content"> &nbsp; </div>
  </div>
</div>
<div item-width="100%">
 <strong class="text-info text-green"> Add Task Details </strong>  
</div>
<div class="row">
<div class="col-sm-12">
  <div class="content"> &nbsp; </div>
</div>
</div>
<div class="container">
<div class="row align-items-start">
  <div class="col">
       
    <form  [formGroup]="frmTaskGroup" (ngSubmit)="AddTaskDetails()">
 



    <div class="form-group row" id="projectRow">
        <label class="col-sm-2 col-form-label">Project</label>
      <div class="col-sm-7">
        <input type="text" id="projName" class="form-control" [attr.disabled]=true  [(ngModel)]="selectedProjectName" [ngModelOptions]="{standalone: true}">
      </div>
      <button id="btnSearchProject" type="button" class="col-sm-1 btn btn-info" (click)="searchProjectData()">Search</button>
    </div>


<div class="form-group row">
    <label class="col-sm-2 col-form-label"> Task </label>
  <div class="col-sm-8">
    <input type="text" class="form-control" formControlName="TASK"   >
  </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label"> Priority</label>
  <div class="col-sm-8">
    <input type="range" class="form-control"  formControlName="PRIORITY"   >
  
  </div>
  </div>


  <div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="form-check col-sm-7">
        &nbsp; &nbsp;&nbsp; <input class="form-check-input" type="checkbox" style="width: 19px; height: 19px;" [disabled]="IsComingFromViewTask"  (change)="isParentTaskChecked($event)" id="chkIsParentTask"   [(ngModel)]="isCheckedEdit" [ngModelOptions]="{standalone: true}" >
        <label class="form-check-label" for="chkIsParentTask">
          &nbsp;Parent Task
        </label>
      </div>
</div>
<div class="form-group row" id="rowParent">
  <label class="col-sm-2 col-form-label">Parent Task</label>
<div class="col-sm-7">
  <input type="text"  class="form-control" [attr.disabled]=true    [(ngModel)]="selectedParentName" [ngModelOptions]="{standalone: true}">
</div>
<button id="btnSearchParent" type="button" [attr.disabled]="isParentTask?'':null"  class="col-sm-1 btn btn-info" (click)="searchParentTask()">Search</button>
</div>



 
      <div class="form-group row" id="rowStartDate">
        <label class="col-sm-2 col-form-label"> Start Date</label>
      <div class="col-sm-3">
        <input type="date" class="form-control" [attr.disabled]="isParentTask?'':null" formControlName ="START_DATE">      </div>
   
        <label class="col-sm-2 col-form-label"> End Date</label>
        <div class="col-sm-3">
          <input type="date" class="form-control" [attr.disabled]="isParentTask?'':null"  formControlName ="END_DATE">
        </div>
    </div>

    <!-- <div class="form-group row" id="projID">
        <label class="col-sm-4 col-form-label"> End Date</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" [attr.disabled]="isParentTask?'':null" formControlName ="PROJECT_ID">
        </div>
    </div> -->

    <div class="form-group row" id="rowUser">
        <label class="col-sm-2 col-form-label">User</label>
      <div class="col-sm-7">
        <input type="text" id="userName" class="form-control" [attr.disabled]=true  [(ngModel)]="selectedUserName" [ngModelOptions]="{standalone: true}">
      </div>
      <button id="btnSearchUser" type="button" class="col-sm-1 btn btn-info" [attr.disabled]="isParentTask?'':null"  (click)="searchUserData()">Search</button>
    </div>
    <div class="form-group row">
          <div class="col-sm-6"></div>          
        
              <button id="btnSubmit" type="Submit"  class="btn btn-primary"> Add Task</button>
              <div  class="col-sm-2">  
              <button id="btnReset" type="button" (click)="resetTaskForm()"  class="btn btn-warning"> Reset</button>
            </div>  

            <div class="col-sm-3"></div>
            </div>



            <div class="form-group row"  >
                <div class="col-sm-4">
                    <p class="text-success"> <strong> {{showMsg}} </strong> </p>
                </div>
               
                </div>
              </form>
  </div>
  </div>
</div>
