<div class="row">
  <div class="col-sm-12">
    <div class="content"> &nbsp; </div>
  </div>
</div>
<div item-width="100%">
 <strong class="text-info text-green"> Add Project Details </strong>  
</div>
<div class="row">
<div class="col-sm-12">
  <div class="content"> &nbsp; </div>
</div>
</div>


<form [formGroup]="projectForm">
  <div class="form-group row">
      <label class="col-sm-2 col-form-label"> Project </label>
    <div class="col-sm-8">
      <input type="text" class="form-control" formControlName="Project_Name"   >
    </div>
    </div>

    <div class="form-group row">   
        <div class="col-sm-3 col-form-label"> </div> 
      <div> 
        <input  type="checkbox"   (click)="isDatesEnabled($event)" id="chkIsDateEnable" style="width: 19px; height: 19px;">
        <label  for="chkIsDateEnable">
            &nbsp;Set Start and End Date
        </label>
      </div>
      <div class="col-sm-2">
        <input type="date" class="form-control" [attr.disabled]="isDateEnable?null :''"  formControlName ="Start_Date" placeholder="Start Date" ng-model="START_DATE | date:'dd-mm-yyyy'">   
        <!-- <input placeholder="Date" class="textbox-n" [attr.disabled]="isDateEnable?null :''"  formControlName ="START_DATE" type="text" onfocus="(this.type='date')"   onblur ="(this.type='text')"   id="date"> -->
      </div>
      <div class="col-sm-2">
        <input type="date" class="form-control" [attr.disabled]="isDateEnable?null :''" formControlName ="End_Date" text="End Date" ng-model="END_DATE | date:'dd-mm-yyyy'">
      </div>
      
    </div>
    <!-- <div  class="form-group row" ng-app ng-controller="MethodName">
      My current date is {{date | date:'yyyy-MM-dd'}} . 
      My NExt date is {{date | date:'yyyy-MM-dd'}} . 
  </div> -->
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"> Priority</label>
    <div class="col-sm-8">
      <input type="range" class="form-control"  formControlName="Priority" max=30 >
    </div>
    </div>

    <div class="form-group row" id="rowUser">
      <label class="col-sm-2 col-form-label">Manager</label>
    <div class="col-sm-7">
      <input type="text"  class="form-control" [attr.disabled]=true [(ngModel)]="selectedManagerName" [ngModelOptions]="{standalone: true}">
    </div>
    <button id="btnSearchUser" type="button" class="col-sm-1 btn btn-info"   (click)="searchUserManagerData()">Search</button>
  </div>
  <div class="form-group row">       
      <div class="col-sm-6"></div>
        <div class="col-sm-2">
            <button id="btnSubmit" type="Submit" [disabled]="!projectForm.valid" class="btn btn-primary" (click)="AddProjectDetails()"> Add Project </button>
        </div>
        <div class="col-sm-2">
            <button id="btnReset" type="button" (click)="resetProjectForm()"  class="btn btn-warning"> Reset</button> </div>
   </div> 
   </form>
    <div class="col-sm-2"></div>
        <div class="col-sm-12">
            <form>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtSearchProject" name="txtSearchProject"   [(ngModel)]="txtSearchProject" placeholder="search...">
                     </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-9">
                      <div class="row">
                        <label class="col-sm-2 col-form-label"> Sort By :</label>
                       
                          <div class="col-sm-2">
                          <button id="btnStartDate"  class="btn btn-success" (click)="sort('START_DATE')">Start Date</button>
                          </div>
                          <div class="col-sm-2">
                          <button id="btnEndDate"  class="btn btn-success" (click)="sort('END_DATE')">End Date</button>
                          </div>
                          <div class="col-sm-2">
                          <button id="btnPriority"  class="btn btn-success" (click)="sort('PRIORITY')">Priority</button>
                          </div>
                          <div class="col-sm-2">
                          <button id="btnStatus"  class="btn btn-success"  (click)="sort('STATUS')">Status</button>
                          </div>
                        
                      </div>
                    </div>
               </div>
               <div class="form-group row">
                 <div class="col-sm-12" >               
                        <ul class="list-group" *ngFor="let eachProject of allProjectsTasksCollection |  SearchpipePipe : txtSearchProject : 'ProjectData' | SortingpipeComponent:sortingName:isDesc">                                                                                                                             
                      <li class="list-group-item list-group-item-action">
                          <div class="form-group row">
                            <div class="col-sm-7 jumbotron">
                                <div class="form-group row">
                                    <div class="col-sm-6"> 
                                      <label class="col-form-label">  Project : {{eachProject.Project_Name}} </label>
                                    </div>                                     
                                  </div>                                  
                                  <div class="form-group row">
                                      <div class="col-sm-6"> No of tasks : {{eachProject.NoOfTasks}} </div>                                      
                                  
                                    <div class="col-sm-3"> Completed : {{eachProject.NoOfTasksCompleted}} </div>   
                                  </div>                                 
                                    <div class="form-group row">
                                        <div class="col-sm-6"> Start Date : {{eachProject.Start_Date | date}} </div>                                        
                                      
                                    
                                        <div class="col-sm-3"> End Date : {{eachProject.End_Date | date}} </div>                                        
                                      </div>
                            </div>                                                          
                                <div class="col-sm-2  ">
                                    <label class="col-form-label"> Priority</label>
                                <label class="col-form-label jumbotron container">  {{eachProject.Priority}} </label>
                            </div>
                            <div class="col-sm-2">
                                <button id="btnUpdate" class="form-group row btn btn-primary" (click)="AssingProjectDetails(eachProject)">Update</button> <br>
                                <button id="btnSuspend" class="form-group row btn btn-danger" (click)="suspendProject(eachProject.Project_ID)">Suspend</button>
                            </div>
                            <hr style=" border-top:1px dotted #000;" />  

                          </div>
                      </li>
                    </ul>
                 </div>
               </div>
               <div class="form-group row"  >
                  <div class="col-sm-4">
                      <p class="text-success"> <strong> {{showMsg}} </strong> </p>
                  </div>
                 
                  </div>
            </form>
          </div>
 
